{% extends '@layout/default.html.twig' %}

{% block title %}Customers{% endblock %}

{% block content %}
    <table class="table">
    	<tr>
    		<th>
    			Customer
    		</th>
    		<th>
    			Email
    		</th>
    	</tr>
        {% for customer in customers %}
        <tr>
    		<td>
    			{{ customer.name }}
    		</td>
            <td>
                {{ customer.email }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
